<h2>List of Articles: </h2>
<ul>
    <% @articles.each do |article| %>
        <a href="/articles/<%= article.id %>">
            <li> <%= article.title %> </li>
        </a>
    <% end %>
</ul>

<form action="/articles/new" method="post">
<input type="hidden" name="_method" value="create" />

<input type="submit" value="Create Article" />

</form>