<h4>Show Articles</h4>

<ul>
    <% @articles.each do |article|%>
    <li><a href="/articles/<%= article.id %>">Title : <%= article.title %></a> <br> Content : <%= article.content %>  </li>
    <% end %>
</ul>
