<h4>Add New Article</h4>
<form action="/articles" method="post">
    <label for="title">Article Title : </label><br>
    <input type="text" name="title" id="title"><br>
    <label for="content">Article Content : </label><br>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Content here..."></textarea>    
    <input type="submit">
</form>
