<h2> Create an Article!! </h2>

<form action="/articles" method="post">

<label for="name">Title</label>
<p><input type="text" name="title"></p>

<label for="name">Content</label>
<p><input type="text" name="content"/></p>

<input type="submit" value="Submit">

</form>
